{{ ansible_managed | comment }}

ssl_certificate {{ letsencrypt_directory }}/live/{{ server }}/fullchain.pem;
ssl_certificate_key {{ letsencrypt_directory }}live/{{ server }}/privkey.pem;

server {
  listen      80;
  server_name "~^(.+\.)?{{ server }}$";

  location /.well-known/acme-challenge {
    root {{ letsencrypt_challenge_directory }};
  }

  if ($request_uri !~* "well-known/acme-challenge") {
    return 301 https://$host$request_uri;
  }
}
