{{ ansible_managed | comment }}

check process mariadb with pidfile {{ ledger_mariadb_pidfile }}
  group database
  start program = "/usr/sbin/service mariadb start"
  stop  program = "/usr/sbin/service mariadb stop"
  restart program  = "/usr/sbin/service mariadb restart"
  if failed port {{ ledger_mariadb_port }} protocol mysql then restart
  if 3 restarts within 5 cycles then timeout
  depends on mariadb_bin
  depends on mariadb_sbin
  depends on mariadb_init

check file mariadb_bin with path /usr/bin/mysqld_safe
  group database
  if failed checksum then unmonitor
  if failed permission 755 then unmonitor
  if failed uid root then unmonitor
  if failed gid root then unmonitor

check file mariadb_sbin with path /usr/sbin/mysqld
  group database
  if failed checksum then unmonitor
  if failed permission 755 then unmonitor
  if failed uid root then unmonitor
  if failed gid root then unmonitor

check file mariadb_init with path {{ lib_systemd_directory }}/mariadb.service
  group database
  if failed checksum then unmonitor
  if failed permission 644 then unmonitor
  if failed uid root then unmonitor
  if failed gid root then unmonitor
