{{ ansible_managed | comment }}

check process taskd with pidfile "{{ taskd_pidfile }}"
  group {{ taskd_user }}
  start program = "/usr/sbin/service taskd start"
  stop program  = "/usr/sbin/service taskd  stop"
  if 5 restarts within 5 cycles then unmonitor
  depends on taskd_bin
  depends on taskd_rc

check file taskd_bin with path /usr/bin/taskd
  group {{ taskd_user }}
  include /etc/monit/templates/rootbin

check file taskd_rc with path /lib/systemd/system/taskd.service
  group {{ taskd_user }}
  include /etc/monit/templates/rootrc
