{{ ansible_managed | comment }}

check process rsyslogd with pidfile /var/run/rsyslogd.pid
  group system
  group rsyslogd
  start program = "/usr/sbin/service rsyslog start"
  stop program  = "/usr/sbin/service rsyslog stop"
  if 5 restarts with 5 cycles then unmonitor
  depend on rsyslogd_bin
  depend on rsyslogd_rc
  depend on rsyslog_file

check file rsyslogd_bin with path "/usr/sbin/rsyslogd"
  group rsyslogd
  include /etc/monit/templates/rootbin

check file rsyslogd_rc with path "/lib/systemd/system/rsyslog.service"
  group rsyslogd
  include /etc/monit/templates/rootrc

check file rsyslog_file with path "/var/log/messages"
  group rsyslogd
  if timestamp > 24 hours   then alert
  if failed permission 640  then unmonitor
  if failed uid root        then unmonitor
  if failed gid adm         then unmonitor
