{{ ansible_managed | comment }}

user  {{ webserver_nginx_user }};
worker_processes  auto;
worker_cpu_affinity auto;
pid {{ webserver_nginx_pidfile }};

include {{ webserver_nginx_config_directory }}/modules-enabled/*.conf;

events {
  worker_connections 768;
  # multi_accept on;
}

http {
  ##
  # Basic Settings
  ##

  sendfile on;
  tcp_nopush on;
  types_hash_max_size 2048;
  # server_tokens off;

  # server_names_hash_bucket_size 64;
  # server_name_in_redirect off;

  include {{ webserver_nginx_config_directory }}/mime.types;
  default_type application/octet-stream;

  ##
  # SSL Settings
  ##

  ssl_prefer_server_ciphers on;

  # More strict protocol permissions and ciphers
  ssl_dhparam  {{ webserver_nginx_ssl_dhparam }};
  ssl_ciphers  "{{ webserver_nginx_ssl_ciphers }}";
  ssl_protocols  {{ webserver_nginx_ssl_protocols | join(" ") }};
  ssl_session_cache  {{ webserver_nginx_ssl_session_cache }};

  ##
  # Logging Settings
  ##

  access_log {{ webserver_nginx_log_directory }}/access.log;
  error_log {{ webserver_nginx_log_directory }}/error.log warn;

  ##
  # Gzip Settings
  ##

  gzip on;

  # gzip_vary on;
  # gzip_proxied any;
  # gzip_comp_level 6;
  # gzip_buffers 16 8k;
  # gzip_http_version 1.1;
  # gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

  ##
  # Virtual Host Configs
  ##

  include {{ webserver_nginx_config_directory }}/conf.d/*.conf;
  include {{ webserver_nginx_config_directory }}/sites-enabled/*;

  log_format  main  '$remote_addr - $remote_user [$time_local] '
                    '"$request" $status $body_bytes_sent '
                    '$request_length $request_time $upstream_response_time '
                    '"$http_referer" "$http_user_agent"';

  keepalive_timeout  65;

  # Improve HTTP headers
  server_tokens off;
  add_header Content-Security-Policy "default-src 'self' *.{{ server }}; frame-ancestors 'none'";
  add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";
  add_header X-Frame-Options "DENY";
  add_header X-Content-Type-Options "nosniff";
  add_header Referrer-Policy "same-origin";
  add_header Permissions-Policy "geolocation=(), midi=(), notifications=(), push=(), sync-xhr=(), microphone=(), camera=(), magnetometer=(), gyroscope=(), speaker=(), vibrate=(), fullscreen=(), payment=()";
  add_header Expect-CT "max-age=86400, enforce";
  add_header X-XSS-Protection "0";
}

#mail {
#  # See sample authentication script at:
#  # http://wiki.nginx.org/ImapAuthenticateWithApachePhpScript
#
#  # auth_http localhost/auth.php;
#  # pop3_capabilities "TOP" "USER";
#  # imap_capabilities "IMAP4rev1" "UIDPLUS";
#
#  server {
#    listen     localhost:110;
#    protocol   pop3;
#    proxy      on;
#  }
#
#  server {
#    listen     localhost:143;
#    protocol   imap;
#    proxy      on;
#  }
#}
