{{ ansible_managed | comment }}

server {
  listen      {{ ansible_default_ipv4.address }}:443 ssl;
  server_name sync.{{ server }};
  access_log  {{ webserver_nginx_log_directory }}/sync.access.log;
  error_log   {{ webserver_nginx_log_directory }}/sync.error.log;

  # Download and send {{ sync_personal_file }} file
  location = /files/{{ sync_personal_file }} {
    auth_basic           "Restricted Area for Legume";
    auth_basic_user_file conf/htpasswd.personal;

    root {{ syncthing_directory }}/general;
  }

  # Download public files
  location /public/ {
    root {{ syncthing_directory }}/general;

    if ($uri ~ "/public/index") { return 403; }

    sendfile on;
    sendfile_max_chunk 1m;
  }

  location / {
    auth_basic           "Restricted Area for Sync";
    auth_basic_user_file conf/htpasswd.sync;

    proxy_set_header         X-Real-IP $remote_addr;
    proxy_set_header         X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header         X-Forwarded-Proto $scheme;
    proxy_set_header         Host 127.0.0.1;
    proxy_read_timeout       5m;

    proxy_pass               http://127.0.0.1:{{ syncthing_port }};
    proxy_redirect           off;
  }
}
