{{ ansible_managed | comment }}

check process spamassassin with pidfile {{ email_spamd_pidfile }}
   group mail
   start program = "/usr/sbin/service spamd start && /usr/sbin/service spamass-milter start"
   stop program  = "/usr/sbin/service spamd stop && /usr/sbin/service spamass-milter stop"
   if cpu usage > 99% for 5 cycles then alert
   if mem usage > 99% for 5 cycles then alert
   depends on spamassassin_bin
   depends on spamassassin_rc
   depends on milter_bin
   depends on milter_rc

check file spamassassin_bin with path /usr/sbin/spamd
  group mail
  include /etc/monit/templates/rootbin

check file spamassassin_rc with path {{ lib_systemd_directory }}/spamd.service
  group mail
  include /etc/monit/templates/rootrc

check file milter_bin with path /usr/sbin/spamass-milter
  group mail
  include /etc/monit/templates/rootbin

check file milter_rc with path /etc/init.d/spamass-milter
  group mail
  include /etc/monit/templates/rootbin
