{{ ansible_managed | comment }}

{{ logs_directory }}/syslog
{
  rotate 7
  daily
  missingok
  notifempty
  compress
  delaycompress
  sharedscripts
}

{{ logs_directory }}/mail.log
{{ logs_directory }}/auth.log
{{ logs_directory }}/user.log
{{ logs_directory }}/cron.log
{
  rotate 4
  weekly
  missingok
  notifempty
  compress
  delaycompress
  sharedscripts
}
