{{ ansible_managed | comment }}

[Unit]
Description=Daily logwatch run
Documentation=man:logwatch(8) man:logwatch.conf(5)

[Timer]
OnCalendar=daily
AccuracySec=12h
Persistent=true

[Install]
WantedBy=timers.target
