#!/usr/bin/env bash
set -eo pipefail
IFS=$'\n\t'

{{ ansible_managed | comment }}

/usr/bin/nice -n19 /usr/bin/sa-learn --spam {{ email_directory }}/{{ server }}/**/mail/Spam/cur/

/usr/bin/nice -n19 /usr/bin/sa-learn --ham {{ email_directory }}/{{ server }}/**/mail/Archive/cur/

chown -R {{ email_spamassassin_user }}: {{ email_spamassassin_home }}
