#!/usr/bin/env bash
set -eo pipefail
IFS=$'\n\t'

{{ ansible_managed | comment }}

sudo -u {{ email_user }} sieve-test {{ email_directory }}/sieve-$1/master.sieve {{ email_directory }}/{{ server }}/**/mail/$2 -t - -Tlevel=matching
