{{ ansible_managed | comment }}

{{ email_webmaster }}  {{ email_webmaster }}
{% for virtual_mailbox_user in email_virtual_mailbox_users %}
{{ virtual_mailbox_user.email }}  {{ virtual_mailbox_user.real_email }}
{% endfor %}
