{{ ansible_managed | comment }}

{{ email_webmaster }}@{{ server }}  {{ email_webmaster }}@{{ server }}
{% for virtual_mailbox_user in email_virtual_mailbox_users %}
{{ virtual_mailbox_user.email }}@{{ server }}  {{ virtual_mailbox_user.real_email }}@{{ server }}
{% endfor %}
