{{ ansible_managed | comment }}

{{ email_webmaster }}@{{ server }}  {{ email_webmaster }}@{{ server }}
{% for virtual in email_virtuals %}
{{ virtual.email }}@{{ server }}  {{ virtual.real_email }}@{{ server }}
{% endfor %}
