{{ ansible_managed | comment }}

[Unit]
Description=Sync local and remote changes with Firefly server
OnFailure=status_email@%n.service

[Service]
ExecStart=/bin/bash -lc 'ledger sync'
User={{ ledger_user }}
Group={{ ledger_user }}
Type=oneshot
