{{ ansible_managed | comment }}

[Unit]
Description=Ledger backup
OnFailure=status_email@%n.service

[Service]
ExecStart=/bin/bash -lc 'bledger'
User={{ ledger_user }}
Group={{ ledger_user }}
Type=oneshot
