{{ ansible_managed | comment }}

[Unit]
Description=Store networth calculation
OnFailure=status_email@%n.service

[Service]
ExecStart=/bin/bash -lc 'nledger'
User={{ ledger_user }}
Group={{ ledger_user }}
Type=oneshot
