{{ ansible_managed | comment }}

[Unit]
Description=Sync local and remote changes with Firefly server
OnFailure=status_email@%n.service
StartLimitIntervalSec=480
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/bin/bash -lc 'ledger sync'
Restart=on-failure
RestartSec=60
User={{ ledger_user }}
Group={{ ledger_user }}
