#!/usr/bin/env bash
set -eo pipefail
IFS=$'\n\t'

{{ ansible_managed | comment }}

if [ `whoami` != "{{ dav_user }}" ]; then
  escalation="sudo -u {{ dav_user }}"
fi

eval "$escalation /usr/bin/vdirsyncer -c {{ dav_vdirsyncer_config_directory }}/config discover"
