{{ ansible_managed | comment }}

[general]
  status_path = "{{ dav_vdirsyncer_config_directory }}/status/"

#############################
######## Collections ########
#############################

{% for collection in dav_collections | rejectattr('url', 'undefined') %}
#### {{ collection.id }} ####
[pair {{ collection.id }}]
  a = "{{ collection.id }}_local"
  b = "{{ collection.id }}_remote"
  collections = null
  metadata = ["color", "displayname"]

[storage {{ collection.id }}_local]
  type = "filesystem"
  path = "{{ dav_home }}/collection-root/{{ dav_radicale_collection }}/{{ collection.id }}"
  fileext = "{{ collection.fileext }}"

[storage {{ collection.id }}_remote]
  type = "http"
  url = "{{ collection.url }}"

{% endfor %}
