#!/usr/bin/env bash
set -eo pipefail
IFS=$'\n\t'

{{ ansible_managed | comment }}

function expected_date() {
  [ "$(date +'%d')" == "$1" ]
}

CURRENT_DATE="$(date +'%Y-%m-%d')"

{% for rec in ledger_reoccurrences %}
expected_date {{ rec.day | quote }} && ledger book -a {{ rec.account | quote }} -a $CURRENT_DATE -a {{ rec.category | quote }} -a {{ rec.description | quote }} -a {{ rec.quantity | quote }} -a {{ rec.venue | quote }} -a {{ rec.amount | quote }} -a {{ rec.currency | quote }} -a {{ rec.trip | quote }} -a {{ rec.id | quote }}
{% endfor %}

exit 0
