{{ ansible_managed | comment }}

[Unit]
Description=Download new GeoIP databases
Documentation=https://dev.maxmind.com/geoip/geoipupdate/
OnFailure=status_email@%n.service

[Service]
ExecStart=/usr/bin/geoipupdate
Type=oneshot
