{{ ansible_managed | comment }}

server {
  listen      443 ssl;
  server_name cockpit.{{ server }};
  access_log  {{ webserver_nginx_log_directory }}/cockpit.access.log;
  error_log   {{ webserver_nginx_log_directory }}/cockpit.error.log;

  location / {
    # Required to proxy the connection to Cockpit
    proxy_pass https://127.0.0.1:{{ cockpit_port }};
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $scheme;

    add_header Access-Control-Allow-Origin *;

    # Required for web sockets to function
    proxy_http_version 1.1;
    proxy_buffering off;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";

    # Pass ETag header from Cockpit to clients.
    # See: https://github.com/cockpit-project/cockpit/issues/5239
    gzip off;
  }
}
