{{ ansible_managed | comment }}

[Unit]
Description=Update root hints for unbound
After=network.target

[Service]
ExecStart=/usr/bin/curl -o {{ unbound_config_directory }}/root.hints {{ unbound_roothints_url }}
