{{ ansible_managed | comment }}

## DNS Over TLS, Simple ENCRYPTED recursive caching DNS, TCP port 853
server:
  # Enable logs
  verbosity: 1
  logfile: {{ unbound_log_directory }}/unbound.log
  pidfile: "{{ unbound_pidfile }}"
  # Respond to DNS requests on all interfaces
  interface: 0.0.0.0
  # DNS request port, IP and protocol
  port: 53
  do-ip4: yes
  do-ip6: no
  do-udp: yes
  do-tcp: yes

  # Authorized IPs to access the DNS Server
  #access-control: 127.0.0.0/8 allow
  #access-control: 192.168.1.0/24 allow

  # Make sure your DNS Server treat your local network requests
  private-address: 192.168.0.1/24

  # Root servers information (To download here: ftp://ftp.internic.net/domain/named.cache)
  root-hints: "{{ unbound_config_directory }}/root.hints"

  # Hide DNS Server info
  hide-identity: yes
  hide-version: yes

  # Improve the security of your DNS Server (Limit DNS Fraud and use DNSSEC)
  harden-glue: no
  harden-referral-path: yes
  harden-below-nxdomain: yes

  # Rewrite URLs written in CAPS
  use-caps-for-id: yes

  # TTL Min (Seconds)
  cache-min-ttl: 300
  # TTL Max (Seconds)
  cache-max-ttl: 14400
  # Enable the prefetch
  prefetch: yes
  prefetch-key: yes
  rrset-roundrobin: yes
  so-reuseport: yes
  minimal-responses: yes

  # Number of maximum threads to use
  num-threads: 2

  # Statistics
  extended-statistics: yes
  # set to yes if graphing tool needs it
  statistics-cumulative: yes

# enable remote-control
remote-control:
  control-enable: yes
