{{ ansible_managed | comment }}

# Default person to mail reports to.  Can be a local account or a
# complete email address.  Variable Output should be set to mail, or
# --output mail should be passed on command line to enable mail feature.
MailTo = {{ email_webmaster }}@{{ server }}

# Default person to mail reports from.  Can be a local account or a
# complete email address.
MailFrom = {{ logwatch_sender }}
