{{ ansible_managed | comment }}

[Unit]
Description=A simple CalDAV (calendar) and CardDAV (contact) server
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/env python3 -m radicale
Restart=on-failure
User={{ dav_user }}
Type=forking
# Deny other users access to the calendar data
UMask=0027
# Optional security settings
PrivateTmp=true
ProtectSystem=strict
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
NoNewPrivileges=true
ReadWritePaths={{ dav_radicale_collections_directory }} {{ dav_radicale_pid_directory }} {{ dav_radicale_log_directory }}

[Install]
WantedBy=multi-user.target
