{{ ansible_managed | comment }}

server {
  listen      443 ssl;
  server_name netdata.{{ server }};
  access_log  {{ webserver_nginx_log_directory }}/netdata.access.log;
  error_log   {{ webserver_nginx_log_directory }}/netdata.error.log;

  add_header Content-Security-Policy "default-src 'self' 'unsafe-inline' netdata.{{ server }}; frame-ancestors 'none'";

  location / {
    auth_basic           "Restricted Area";
    auth_basic_user_file conf/htpasswd.netdata;

    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Proto $scheme;
    proxy_set_header   Host $host;
    proxy_read_timeout 5m;

    proxy_pass     http://127.0.0.1:{{ netdata_port }};
    proxy_redirect off;
  }
}
