{{ ansible_managed | comment }}

[Unit]
Description=Generate report about emails from previous day
OnFailure=status_email@%n.service

[Service]
ExecStart={{ general_scripts_directory }}/ppflogsumm
Type=oneshot
