{{ ansible_managed | comment }}

server {
  listen      443 ssl;
  server_name www.{{ server }};
  return 301 $scheme://{{ server }}$request_uri;
}

server {
  listen      443 ssl;
  server_name {{ server }};

  ssl_certificate     /etc/ssl/certs/ssl-cert-snakeoil.pem;
  ssl_certificate_key /etc/ssl/private/ssl-cert-snakeoil.key;

  location / {
    root   {{ webserver_nginx_content_directory }}/html;
    index  index.html index.htm;
  }

  # redirect server error pages to the static page /50x.html
  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /usr/share/nginx/html;
  }
}
