{{ ansible_managed | comment }}

server {
  listen      443 ssl;
  server_name www.{{ server }};
  return 301 $scheme://{{ server }}$request_uri;
}

server {
  listen      443 ssl;
  server_name {{ server }};

  location / {
    root   {{ webserver_nginx_content_directory }}/html;
    index  index.html index.htm;
  }

  # redirect server error pages to the static page /50x.html
  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /usr/share/nginx/html;
  }

  set $securitytxt "Contact: mailto:{{ email_webmaster }}@{{ server }}\nExpires: {{ webserver_security_expiration }}\nPreferred-Languages: {{ webserver_security_preferred_language }}\nCanonical: https://{{ server }}/.well-known/security.txt";

  location /.well-known/security.txt {
    add_header Content-Type text/plain;
    return 200 $securitytxt;
  }

  location = /security.txt {
    add_header Content-Type text/plain;
    return 200 $securitytxt;
  }
}
