{{ ansible_managed | comment }}

server {
  listen      443 ssl;
  server_name ledger.{{ server }};
  access_log  {{ webserver_nginx_log_directory }}/ledger.access.log;
  error_log   {{ webserver_nginx_log_directory }}/ledger.error.log;

  root {{ ledger_firefly_directory }}/public;
  index index.php;

  add_header Content-Security-Policy "default-src 'self' 'unsafe-inline' ledger.{{ server }}; frame-ancestors 'none'";
  add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";
  add_header X-Frame-Options "DENY";
  add_header X-Content-Type-Options "nosniff";
  add_header Referrer-Policy "same-origin";
  add_header Permissions-Policy "geolocation=(), midi=(), notifications=(), push=(), sync-xhr=(), microphone=(), camera=(), magnetometer=(), gyroscope=(), speaker=(), vibrate=(), fullscreen=(), payment=()";
  add_header Expect-CT "max-age=86400, enforce";
  add_header X-XSS-Protection "0";

  location / {
    auth_basic           "Restricted Area";
    auth_basic_user_file conf/htpasswd.ledger;

    try_files $uri $uri/ /index.php?$query_string;

    location /api {
      auth_basic off;

      try_files $uri $uri/ /index.php?$query_string;
    }
  }

  location ~ \.php$ {
    include snippets/fastcgi-php.conf;

    fastcgi_pass unix:{{ ledger_firefly_phpfpm_sockfile }};
  }
}
