{{ ansible_managed | comment }}

check process crond with pidfile /var/run/crond.pid
  group system
  group crond
  start program = "/usr/sbin/service cron start"
  stop program  = "/usr/sbin/service cron stop"
  if 5 restarts with 5 cycles then unmonitor
  depend cron_bin
  depend cron_rc
  depend cron_spool

check file cron_bin with path /usr/sbin/cron
  group crond
  include /etc/monit/templates/rootbin

check file cron_rc with path "/lib/systemd/system/cron.service"
  group crond
  include /etc/monit/templates/rootrc

check directory cron_spool with path /var/spool/cron/crontabs
  group crond
  if failed permission 1730 then unmonitor
  if failed uid root        then unmonitor
  if failed gid crontab     then unmonitor
