{{ ansible_managed | comment }}

{{ logs_directory }}/apt/term.log {
  rotate 12
  monthly
  compress
  missingok
  notifempty
}

{{ logs_directory }}/apt/history.log {
  rotate 12
  monthly
  compress
  missingok
  notifempty
}
