{{ ansible_managed | comment }}

{{ logs_directory }}/dpkg.log {
  monthly
  rotate 12
  compress
  delaycompress
  missingok
  notifempty
  create 0644 root root
}

{{ logs_directory }}/alternatives.log {
  monthly
  rotate 12
  compress
  delaycompress
  missingok
  notifempty
  create 0644 root root
}
